In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('../data/case2/dashboard_predictions.csv', index_col='id')

In [3]:
df=data[data['flag']==1]

In [22]:
df.loc[:,"reviewed_target"]=np.random.choice([0, 1, 2], df.shape[0])

C:\Users\rahmank\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [8]:
df["reviewed_target"].fillna(0, inplace=True)

C:\Users\rahmank\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [9]:
df

,keyword,location,text,probability,target,flag,original_target,datetime_updated,reviewed_target
id,,,,,,,,,
192,aftershock,Runcorn,Aftershock https://t.co/38Nhq9moEf,0.503656,0,1,NaN,NaN,0.0
292,ambulance,"West Chester, PA",Why should a helicopter ambulance ride to tran...,0.595757,0,1,NaN,NaN,0.0
295,ambulance,"Chorley, Lancashire, UK",so privileged and proud to wear this uniform.?...,0.527177,1,1,NaN,NaN,0.0
351,annihilation,NaN,Allied Plans for the Annihilation of the Germa...,0.506448,1,1,NaN,NaN,0.0
359,annihilation,Colorado,U.S National Park Services Tonto National Fore...,0.512232,1,1,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
10538,windstorm,"28.709672,-97.376514",San Patricio ÛÓ Windstorm insurance reform ke...,0.599170,1,1,NaN,NaN,0.0
10577,windstorm,NaN,Texas Seeks Comment on Rules for Changes to Wi...,0.500569,1,1,NaN,NaN,0.0
10653,wounds,Vancouver,@WorldRunners @RunningRoom Day 3&amp;my wounds...,0.570175,0,1,NaN,NaN,0.0
10703,wreck,"Columbus, OH",Interesting in watching a train wreck while ta...,0.583255,1,1,NaN,NaN,0.0
10857,NaN,NaN,To conference attendees! The blue line from th...,0.544078,0,1,NaN,NaN,0.0