In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
data = pd.read_csv('../data/merged_data.csv')
data.dropna()
data.head()

,ProviderName,PID,ProviderPracticeAddress1,ProviderPracticeAddress2,ProviderPracticeCity,ProviderPracticeStateCode,ProviderPracticeZipCode,County,CCName,Lat,Lon,EpisodeID,ContractType,AdmitDate,DischargeDate
0,648 Medical Squadron,1,8006 CHENNAULT RD,STE 1,BROOKS CITY BASE,TX,78235,Bexar,CC1,30.581417,-96.273549,NaN,NaN,NaN,NaN
1,Abilene Nursing and Rehabilitation Center,2,2630 OLD ANSON RD,NaN,ABILENE,TX,79603,Taylor,CC2,29.941640,-95.621466,NaN,NaN,NaN,NaN
2,Abilene Regional Medical Center,3,6250 US HIGHWAY 83,NaN,ABILENE,TX,79606,Taylor,CC3,29.572316,-98.664508,NaN,NaN,NaN,NaN
3,Abilene Regional Medical Center Skilled Nursin...,4,6250 HIGHWAY 83 84 AT ANTILLEY RD,NaN,ABILENE,TX,79606,Taylor,CC4,33.014365,-96.914067,NaN,NaN,NaN,NaN
4,"Absolutely Angels, Inc",5,936 E PRODUCTION DR,NaN,PILOT POINT,TX,76258,Denton,CC5,32.906213,-97.245081,NaN,NaN,NaN,NaN

#### Columns

In [49]:
data.dtypes

ProviderName                  object
PID                            int64
ProviderPracticeAddress1      object
ProviderPracticeAddress2      object
ProviderPracticeCity          object
ProviderPracticeStateCode     object
ProviderPracticeZipCode        int64
County                        object
CCName                        object
Lat                          float64
Lon                          float64
EpisodeID                    float64
ContractType                  object
AdmitDate                     object
DischargeDate                 object
dtype: object

##### 10 columns with text data, 5 columns with nums.

In [50]:
data.describe()

,PID,ProviderPracticeZipCode,Lat,Lon,EpisodeID
count,40418.000000,40418.000000,627.000000,627.000000,39849.000000
mean,963.676901,76961.927854,31.634300,-96.580880,27120.102637
std,539.821562,1336.133952,1.353716,2.703162,17224.734893
min,1.000000,75002.000000,29.519390,-106.433022,1.000000
25%,505.000000,75785.000000,30.256568,-97.849808,10755.000000
50%,1071.000000,77070.000000,31.612382,-96.713426,31229.000000
75%,1456.000000,78028.000000,33.060501,-94.645918,42174.000000
max,1813.000000,79936.000000,33.494254,-94.006402,56817.000000

#### Contract Type

In [51]:
data['ContractType'].value_counts()

CT2    29467
CT1    10382
Name: ContractType, dtype: int64

*Note: CT2 is more popular by a huge margin.*

#### Provider Name

In [52]:
data['ProviderName'].nunique()

1797

*There 1,797 unique Providers.*