### Goals / Value
- Find the optimal number of care coordinators in a given geographic area (Texas) to properly serve patients of Skilled Nursing Facilities (SNFâ€™s).

In [2]:
import pandas as pd
import numpy as np
pd.set_option("max_rows", None)
import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
df = pd.read_csv('../data/timeseries_base.csv')

In [4]:
df.head(20)

,week,pid,episodeid,contracttype,county,providerpracticezipcode,admit_week_start,discharge_week_start,first_week_regular,len_of_stay,admitdate,dischargedate,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge,week_admit,week_discharge
0,2018-12-31,6,17500,CT2,Brazos,77845,2018-12-31,2019-01-14,3,17,2019-01-01,2019-01-18,6,5,11,1.0,0.428571,0.0,1,0
1,2018-12-31,6,17793,CT2,Brazos,77845,2018-12-31,2019-01-14,3,16,2019-01-01,2019-01-17,6,4,10,1.0,0.428571,0.0,1,0
2,2018-12-31,6,18516,CT2,Brazos,77845,2018-12-31,2019-01-28,3,30,2019-01-01,2019-01-31,6,4,10,1.0,0.428571,0.0,1,0
3,2018-12-31,6,19016,CT2,Brazos,77845,2018-12-31,2019-01-14,3,15,2019-01-01,2019-01-16,6,3,9,1.0,0.428571,0.0,1,0
4,2018-12-31,6,19129,CT2,Brazos,77845,2018-12-31,2019-01-07,3,7,2019-01-01,2019-01-08,6,2,8,1.0,0.428571,0.0,1,0
5,2018-12-31,6,19387,CT2,Brazos,77845,2018-12-31,2019-01-07,3,10,2019-01-01,2019-01-11,6,5,11,1.0,0.428571,0.0,1,0
6,2018-12-31,6,48172,CT2,Brazos,77845,2018-12-31,2019-01-07,3,11,2019-01-01,2019-01-12,6,6,12,1.0,0.428571,0.0,1,0
7,2018-12-31,6,48173,CT2,Brazos,77845,2018-12-31,2018-12-31,3,5,2019-01-01,2019-01-06,6,7,13,1.0,1.000000,1.0,1,1
8,2018-12-31,6,48174,CT2,Brazos,77845,2018-12-31,2019-01-21,3,24,2019-01-01,2019-01-25,6,5,11,1.0,0.428571,0.0,1,0
9,2018-12-31,6,48175,CT2,Brazos,77845,2018-12-31,2019-01-14,3,17,2019-01-01,2019-01-18,6,5,11,1.0,0.428571,0.0,1,0
10,2018-12-31,6,48176,CT2,Brazos,77845,2018-12-31,2019-01-07,3,11,2019-01-01,2019-01-12,6,6,12,1.0,0.428571,0.0,1,0
11,2018-12-31,8,17468,CT2,Collin,75093,2018-12-31,2019-01-14,3,18,2019-01-01,2019-01-19,6,6,12,1.0,0.428571,0.0,1,0
12,2018-12-31,8,17594,CT2,Collin,75093,2018-12-31,2019-01-21,3,20,2019-01-01,2019-01-21,6,1,7,1.0,0.428571,0.0,1,0
13,2018-12-31,8,17649,CT2,Collin,75093,2018-12-31,2019-01-14,3,13,2019-01-01,2019-01-14,6,1,7,1.0,0.428571,0.0,1,0
14,2018-12-31,8,18213,CT2,Collin,75093,2018-12-31,2019-01-14,3,15,2019-01-01,2019-01-16,6,3,9,1.0,0.428571,0.0,1,0
15,2018-12-31,8,18415,CT2,Collin,75093,2018-12-31,2019-01-14,3,16,2019-01-01,2019-01-17,6,4,10,1.0,0.428571,0.0,1,0
16,2018-12-31,8,18512,CT1,Collin,75093,2018-12-31,2019-04-01,3,91,2019-01-01,2019-04-02,6,2,8,1.0,0.428571,0.0,1,0
17,2018-12-31,8,18533,CT2,Collin,75093,2018-12-31,2019-01-14,3,13,2019-01-01,2019-01-14,6,1,7,1.0,0.428571,0.0,1,0
18,2018-12-31,8,18693,CT2,Collin,75093,2018-12-31,2018-12-31,3,5,2019-01-01,2019-01-06,6,7,13,1.0,1.000000,1.0,1,1
19,2018-12-31,8,18694,CT2,Collin,75093,2018-12-31,2019-01-07,3,8,2019-01-01,2019-01-09,6,3,9,1.0,0.428571,0.0,1,0

In [5]:
df.shape

(150089, 20)

In [6]:
df.describe()

,pid,episodeid,providerpracticezipcode,first_week_regular,len_of_stay,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge,week_admit,week_discharge
count,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000,150089.000000
mean,967.077507,25356.865400,76923.572767,1.355442,30.521571,3.933000,3.835284,7.768284,0.263390,0.689603,0.263390,0.263390,0.263390
std,539.170885,17488.478496,1347.932862,1.576256,25.677789,2.047609,2.010725,2.714245,0.408452,0.417019,0.440474,0.440474,0.440474
min,6.000000,1.000000,75002.000000,0.000000,-4.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,506.000000,9242.000000,75707.000000,0.000000,15.000000,2.000000,2.000000,6.000000,0.000000,0.285714,0.000000,0.000000,0.000000
50%,1071.000000,18859.000000,77057.000000,0.000000,20.000000,3.000000,4.000000,8.000000,0.000000,0.857143,0.000000,0.000000,0.000000
75%,1463.000000,41110.000000,78028.000000,3.000000,35.000000,6.000000,6.000000,9.000000,0.666667,1.000000,1.000000,1.000000,1.000000
max,1813.000000,56817.000000,79936.000000,4.000000,100.000000,7.000000,7.000000,14.000000,1.000000,1.571429,1.000000,1.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150089 entries, 0 to 150088
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   week                     150089 non-null  object
 1   pid                      150089 non-null  int64
 2   episodeid                150089 non-null  int64
 3   contracttype             150089 non-null  object
 4   county                   150089 non-null  object
 5   providerpracticezipcode  150089 non-null  int64
 6   admit_week_start         150089 non-null  object
 7   discharge_week_start     150089 non-null  object
 8   first_week_regular       150089 non-null  int64
 9   len_of_stay              150089 non-null  int64
 10  admitdate                150089 non-null  object
 11  dischargedate            150089 non-null  object
 12  admit_week_days          150089 non-null  int64
 13  discharge_week_days      150089 non-null  int64
 14  discharge_plus_admit     150089 non-null  int64
 15  admit                    150089 non-null  float64
 16  regular                  150089 non-null  float64
 17  discharge                150089 non-null  float64
 18  week_admit               150089 non-null  int64
 19  week_discharge           150089 non-null  int64
dtypes: float64(3), int64(10), object(7)
memory usage: 22.9+ MB

In [8]:
numeric_df = df.select_dtypes(include=['int', 'float'])

# Print the column names contained in df
print(numeric_df.columns)

Index(['pid', 'episodeid', 'providerpracticezipcode', 'first_week_regular',
       'len_of_stay', 'admit_week_days', 'discharge_week_days',
       'discharge_plus_admit', 'admit', 'regular', 'discharge', 'week_admit',
       'week_discharge'],
      dtype='object')

In [9]:
object_df = df.select_dtypes(include=['object'])

# Print the column names contained in df
print(object_df.columns)

Index(['week', 'contracttype', 'county', 'admit_week_start',
       'discharge_week_start', 'admitdate', 'dischargedate'],
      dtype='object')

#### 'week', 'admit_week_start', 'discharge_week_start', 'admitdate', 'dischargedate' may have to be changed to date types for analysis. TBD

#### county, zip codes & more..

In [10]:
df['county'].nunique()

212

212 unique counties in total.

In [11]:
df['providerpracticezipcode'].nunique()

662

662 unique zip codes in total.

In [12]:
df['pid'].nunique()

1244

There are 1,244 unique providers in our dataset.

#### Investigating providers at the county and zip code levels

In [13]:
df_unique=df.groupby('county')['pid','providerpracticezipcode'].nunique().add_prefix('num_').reset_index().sort_values('num_pid',ascending=False)
print(df_unique)

df_unique = pd.DataFrame(df_unique).reset_index()

            county  num_pid  num_providerpracticezipcode
85          Harris      114                           60
47          Dallas       79                           44
180        Tarrant       74                           40
13           Bexar       63                           27
185         Travis       29                           22
36          Collin       27                           14
90         Hidalgo       22                            9
57         El Paso       21                           11
65       Fort Bend       18                            7
12            Bell       17                            7
148         Nueces       17                            9
52          Denton       17                           10
133       McLennan       16                           10
173          Smith       15                            6
204     Williamson       15                            9
77           Gregg       14                            5
201        Wichita       14                            9
70       Galveston       13                            7
102      Jefferson       13                            5
125        Lubbock       12                            8
26         Cameron       12                            4
76         Grayson       11                            7
16        Brazoria       11                            6
141     Montgomery       10                            7
181         Taylor       10                            6
58           Ellis        9                            5
31        Cherokee        9                            3
2         Angelina        8                            4
153         Parker        8                            2
118         Lavaca        8                            4
105        Johnson        8                            5
79       Guadalupe        8                            2
157         Potter        8                            2
122      Limestone        7                            2
110           Kerr        7                            1
89       Henderson        7                            4
144    Nacogdoches        7                            4
61          Fannin        7                            4
108        Kaufman        7                            4
208           Wood        7                            3
15           Bowie        7                            3
17          Brazos        7                            3
39           Comal        6                            2
164       Rockwall        6                            3
109        Kendall        6                            2
88            Hays        6                            4
38        Colorado        6                            3
184      Tom Green        6                            3
20           Brown        6                            3
0         Anderson        5                            3
62         Fayette        5                            3
198           Webb        5                            2
134         Medina        5                            3
136        Midland        5                            3
84          Hardin        5                            3
121        Liberty        5                            3
205         Wilson        5                            3
193       Victoria        5                            2
145        Navarro        5                            2
23        Caldwell        5                            2
192      Van Zandt        5                            4
91            Hill        5                            3
5         Atascosa        5                            3
55        Eastland        5                            4
115          Lamar        5                            2
28            Cass        5                            3
97            Hunt        5                            3
56           Ector        5                            2
42           Cooke        5                            2
82        Hamilton        4                            2
210          Young        4                            2
199        Wharton        4                            2
101         Jasper        4                            2
93            Hood        4                            1
9          Bastrop        4                            3
130      Matagorda        4                            2
95         Houston        4                            1
43         Coryell        4                            2
94         Hopkins        4                            1
14          Bosque        4                            1
197     Washington        4                            1
72       Gillespie        4                            1
194         Walker        4                            1
156           Polk        4                            2
59           Erath        4                            2
171         Scurry        3                            1
190         Uvalde        3                            1
159        Randall        3                            3
183          Titus        3                            1
172         Shelby        3                            1
182          Terry        3                            1
186        Trinity        3                            2
116           Lamb        3                            2
117       Lampasas        3                            1
191      Val Verde        3                            1
168  San Augustine        3                            1
152         Panola        3                            1
151     Palo Pinto        3                            1
207           Wise        3                            2
150         Orange        3                            2
166           Rusk        3                            2
137          Milam        3                            2
163      Robertson        3                            3
165        Runnels        3                            2
106          Jones        3                            3
22          Burnet        3                            3
98      Hutchinson        3                            1
78          Grimes        3                            1
49          DeWitt        3                            2
75            Gray        3                            2
86        Harrison        3                            2
74        Gonzales        3                            1
35         Coleman        3                            1
96          Howard        3                            1
80            Hale        3                            1
6           Austin        3                            2
40        Comanche        3                            2
67       Freestone        3                            2
100        Jackson        3                            2
21        Burleson        3                            1
27            Camp        2                            1
53          Dimmit        2                            1
25        Callahan        2                            2
60           Falls        2                            2
154         Parmer        2                            2
147          Nolan        2                            1
155          Pecos        2                            1
188         Upshur        2                            1
63           Floyd        2                            1
104      Jim Wells        2                            1
187          Tyler        2                            1
160      Red River        2                            1
32       Childress        2                            1
24         Calhoun        2                            1
48          Dawson        2                            1
33            Clay        2                            1
167         Sabine        2                            1
34            Coke        2                            2
170   San Patricio        2                            2
37   Collingsworth        2                            1
41          Concho        2                            1
174      Somervell        2                            1
175          Starr        2                            1
176       Stephens        2                            1
50      Deaf Smith        2                            1
179        Swisher        2                            1
68            Frio        2                            1
127        Madison        2                            1
107         Karnes        2                            2
3          Aransas        2                            1
209         Yoakum        2                            1
112        Kleberg        2                            1
92         Hockley        2                            1
87         Haskell        2                            1
119            Lee        2                            1
7           Bailey        2                            1
83        Hansford        2                            1
8          Bandera        2                            1
124          Llano        2                            2
142          Moore        2                            1
202      Wilbarger        2                            1
128         Marion        2                            1
10          Baylor        2                            1
131       Maverick        2                            1
200        Wheeler        2                            1
11             Bee        2                            1
140       Montague        2                            2
196           Ward        2                            1
30        Chambers        1                            1
189          Upton        1                            1
178      Stonewall        1                            1
4           Archer        1                            1
18        Brewster        1                            1
206        Winkler        1                            1
19          Brooks        1                            1
29          Castro        1                            1
203        Willacy        1                            1
195         Waller        1                            1
158          Rains        1                            1
177       Sterling        1                            1
139       Mitchell        1                            1
103       Jim Hogg        1                            1
99            Jack        1                            1
111         Kimble        1                            1
113           Knox        1                            1
114       La Salle        1                            1
120           Leon        1                            1
123       Live Oak        1                            1
81            Hall        1                            1
126           Lynn        1                            1
129         Martin        1                            1
132      McCulloch        1                            1
135         Menard        1                            1
73          Goliad        1                            1
138          Mills        1                            1
71           Garza        1                            1
44           Crane        1                            1
143         Morris        1                            1
69          Gaines        1                            1
146         Newton        1                            1
149      Ochiltree        1                            1
66        Franklin        1                            1
64           Foard        1                            1
54           Duval        1                            1
1          Andrews        1                            1
51           Delta        1                            1
161         Reeves        1                            1
162        Refugio        1                            1
46          Dallam        1                            1
45          Crosby        1                            1
169    San Jacinto        1                            1
211         Zapata        1                            1

<ipython-input-13-9cad86426de2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_unique=df.groupby('county')['pid','providerpracticezipcode'].nunique().add_prefix('num_').reset_index().sort_values('num_pid',ascending=False)

##### Example of how to read the findings from the table above:
- Harris county has the most unique providers (114), spread across 60 different zip codes. 
- We can refer to the EDA that's been done on maps to determine if the sizes of the counties generally support the distribution of providers across the state.

In [20]:
df_unique_providers = df_unique[['county','num_pid']]
df_unique_providers_10 = df_unique_providers.head(10)

df_unique_zipcodes = df_unique[['county','num_providerpracticezipcode']]
df_unique_zipcodes_10 = df_unique_zipcodes.head(10)