# Task Time Estimates

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/timeseries_base.csv", index_col = None, parse_dates = True)

In [3]:
# Updating week to be a date instead of object.
# Parse Dates doesn't work reliably. Will add other columns as needed

df['week'] = pd.to_datetime(df['week'])

In [4]:
df.head()

,week,pid,episodeid,contracttype,county,providerpracticezipcode,admit_week_start,discharge_week_start,len_of_stay,admitdate,dischargedate,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge,week_admit,week_discharge
0,2018-12-31,6,17500,CT2,Brazos,77845,2018-12-31,2019-01-14,17,2019-01-01,2019-01-18,6,5,11,1.0,0.857143,0.0,1,0
1,2018-12-31,6,17793,CT2,Brazos,77845,2018-12-31,2019-01-14,16,2019-01-01,2019-01-17,6,4,10,1.0,0.857143,0.0,1,0
2,2018-12-31,6,18516,CT2,Brazos,77845,2018-12-31,2019-01-28,30,2019-01-01,2019-01-31,6,4,10,1.0,0.857143,0.0,1,0
3,2018-12-31,6,19016,CT2,Brazos,77845,2018-12-31,2019-01-14,15,2019-01-01,2019-01-16,6,3,9,1.0,0.857143,0.0,1,0
4,2018-12-31,6,19129,CT2,Brazos,77845,2018-12-31,2019-01-07,7,2019-01-01,2019-01-08,6,2,8,1.0,0.857143,0.0,1,0

In [5]:
len(df)

148021

In [6]:
#Assuming a "normal" distribution, take the mean of 1000 draws of the time estimates
Task1 = 2.12
Task2 = 4.95
Task3 = 61.67
Task4 = 10.04
Task5 = 7.95
Task6 = 10.08
Task7 = 5
Task8 = 6.99
Task9 = 4.03
Task10 = 16.54
Task11 = 37.1
Task12 = 5.04
Task13 = 5
Task14 = 6.34
Task15 = 14.99
Task16 = 10
Task17 = 3

### Contract Type 1

In [7]:
#if including remote workers. Replacing in person task 13 with remote task 17 bc it is more efficient
df.loc[df['contracttype'] == 'CT1', 'regular_time'] = df['regular']*(Task9 + Task12 + Task15 + Task14)
df.loc[df['contracttype'] == 'CT1', 'discharge_time'] = df['discharge']*(Task2 + Task8)
df.loc[df['contracttype'] == 'CT1', 'admit_time'] = df['admit']*(Task1 + Task4 + Task5 + Task6)
df.loc[df['contracttype'] == 'CT1', 'remote_time'] = df['regular']*(Task17)

### Contract Type 2

In [8]:
#if including remote workers. Replacing in person task 13 with remote task 17 bc it is more efficient
df.loc[df['contracttype'] == 'CT2', 'regular_time'] = df['regular']*(Task9 + Task11 + Task14)
df.loc[df['contracttype'] == 'CT2', 'discharge_time'] = df['discharge']*(Task7 + Task8 + Task2 + Task10)
df.loc[df['contracttype'] == 'CT2', 'admit_time'] = df['admit']*(Task1 + Task3 + Task5 + Task6)
df.loc[df['contracttype'] == 'CT2', 'remote_time'] = df['regular']*(Task17)

In [9]:
df['onsite_time'] = df['regular_time'] + df['discharge_time'] + df['admit_time']

In [10]:
# Rounding to nearest 10th
df['admit_time'] = df['admit_time'].round(2)
df['remote_time'] = df['remote_time'].round(2)
df['onsite_time'] = df['onsite_time'].round(2)

In [11]:
df.head()

,week,pid,episodeid,contracttype,county,providerpracticezipcode,admit_week_start,discharge_week_start,len_of_stay,admitdate,...,admit,regular,discharge,week_admit,week_discharge,regular_time,discharge_time,admit_time,remote_time,onsite_time
0,2018-12-31,6,17500,CT2,Brazos,77845,2018-12-31,2019-01-14,17,2019-01-01,...,1.0,0.857143,0.0,1,0,40.688571,0.0,81.82,2.57,122.51
1,2018-12-31,6,17793,CT2,Brazos,77845,2018-12-31,2019-01-14,16,2019-01-01,...,1.0,0.857143,0.0,1,0,40.688571,0.0,81.82,2.57,122.51
2,2018-12-31,6,18516,CT2,Brazos,77845,2018-12-31,2019-01-28,30,2019-01-01,...,1.0,0.857143,0.0,1,0,40.688571,0.0,81.82,2.57,122.51
3,2018-12-31,6,19016,CT2,Brazos,77845,2018-12-31,2019-01-14,15,2019-01-01,...,1.0,0.857143,0.0,1,0,40.688571,0.0,81.82,2.57,122.51
4,2018-12-31,6,19129,CT2,Brazos,77845,2018-12-31,2019-01-07,7,2019-01-01,...,1.0,0.857143,0.0,1,0,40.688571,0.0,81.82,2.57,122.51

In [40]:
df['onsite_hours'] = np.round(df['onsite_time']/60, 2)
df['remote_hours'] = np.round(df['remote_time']/60, 2)

In [41]:
grouped = df.groupby('county')

In [42]:
grouped.sum()

,pid,episodeid,providerpracticezipcode,len_of_stay,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge,week_admit,week_discharge,regular_time,discharge_time,admit_time,remote_time,onsite_time,onsite_hours,remote_hours
county,,,,,,,,,,,,,,,,,,,
Anderson,401162,7736188,21755509,6257,1104,1079,2183,81.0,226.0,81.0,81,81,10728.22,2711.88,6627.42,678.10,20067.42,334.28,11.30
Andrews,8057,298018,557998,301,14,49,63,1.0,6.0,1.0,1,1,284.82,33.48,81.82,18.00,400.12,6.67,0.30
Angelina,882133,39819466,76895029,28278,4003,4043,8046,267.0,844.0,267.0,267,267,34175.53,7086.72,17405.76,2532.31,58667.88,978.13,42.23
Aransas,108914,4735443,10032896,3281,508,465,973,36.0,100.0,36.0,36,36,4525.09,1183.74,2893.89,300.04,8602.67,143.36,4.98
Archer,184,136588,305404,80,4,24,28,1.0,3.0,1.0,1,1,142.41,33.48,81.82,9.00,257.71,4.30,0.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wise,742744,9088276,40213910,18265,2143,1914,4057,126.0,437.0,126.0,126,126,19122.74,4024.62,9844.65,1311.20,32991.81,549.98,21.76
Wood,281981,5232072,13986649,4319,792,695,1487,54.0,147.0,54.0,54,54,6773.25,1678.68,4108.50,441.03,12560.40,209.26,7.36
Yoakum,40962,1007809,1903752,400,83,131,214,8.0,17.0,8.0,8,8,806.99,267.84,654.56,51.00,1729.39,28.80,0.85
Young,78598,4649300,10546452,2789,604,517,1121,41.0,114.0,41.0,41,41,5411.58,1372.68,3354.62,342.05,10138.83,168.93,5.69
Zapata,1836,143620,312304,84,12,20,32,1.0,3.0,1.0,1,1,142.41,33.48,81.82,9.00,257.71,4.29,0.15