# Task Time Estimates

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/timeseries_base.csv")

In [3]:
df.head()

,Unnamed: 0,week,pid,episodeid,contracttype,admit_week_start,discharge_week_start,len_of_stay,admitdate,dischargedate,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge
0,17,2018-12-31,6,17500.0,CT2,2018-12-31,2019-01-14,17,2019-01-01,2019-01-18,6,5,11,1.0,0.857143,0.0
1,18,2018-12-31,6,17793.0,CT2,2018-12-31,2019-01-14,16,2019-01-01,2019-01-17,6,4,10,1.0,0.857143,0.0
2,19,2018-12-31,6,18516.0,CT2,2018-12-31,2019-01-28,30,2019-01-01,2019-01-31,6,4,10,1.0,0.857143,0.0
3,20,2018-12-31,6,19016.0,CT2,2018-12-31,2019-01-14,15,2019-01-01,2019-01-16,6,3,9,1.0,0.857143,0.0
4,21,2018-12-31,6,19129.0,CT2,2018-12-31,2019-01-07,7,2019-01-01,2019-01-08,6,2,8,1.0,0.857143,0.0

In [4]:
len(df)

148021

In [5]:
#Assuming a "normal" distribution, take the mean of 1000 draws of the time estimates
Task1 = 2.12
Task2 = 4.95
Task3 = 61.67
Task4 = 10.04
Task5 = 7.95
Task6 = 10.08
Task7 = 5
Task8 = 6.99
Task9 = 4.03
Task10 = 16.54
Task11 = 37.1
Task12 = 5.04
Task13 = 5
Task14 = 6.34
Task15 = 14.99
Task16 = 10
Task17 = 3

### Contract Type 1

In [10]:
#if including remote workers. Replacing in person task 13 with remote task 17 bc it is more efficient
df.loc[df['contracttype'] == 'CT1', 'regular_time'] = df['regular']*(Task9 + Task12 + Task15 + Task14)
df.loc[df['contracttype'] == 'CT1', 'discharge_time'] = df['discharge']*(Task2 + Task8)
df.loc[df['contracttype'] == 'CT1', 'admit_time'] = df['admit']*(Task1 + Task4 + Task5 + Task6)
df.loc[df['contracttype'] == 'CT1', 'remote_time'] = df['regular']*(Task17)

### Contract Type 2

In [15]:
#if including remote workers. Replacing in person task 13 with remote task 17 bc it is more efficient
df.loc[df['contracttype'] == 'CT2', 'regular_time'] = df['regular']*(Task9 + Task11 + Task14)
df.loc[df['contracttype'] == 'CT2', 'discharge_time'] = df['discharge']*(Task7 + Task8 + Task2 + Task10)
df.loc[df['contracttype'] == 'CT2', 'admit_time'] = df['admit']*(Task1 + Task3 + Task5 + Task6)
df.loc[df['contracttype'] == 'CT2', 'remote_time'] = df['regular']*(Task17)

In [16]:
df.head(20)

,Unnamed: 0,week,pid,episodeid,contracttype,admit_week_start,discharge_week_start,len_of_stay,admitdate,dischargedate,admit_week_days,discharge_week_days,discharge_plus_admit,admit,regular,discharge,regular_time,discharge_time,admit_time,remote_time
0,17,2018-12-31,6,17500.0,CT2,2018-12-31,2019-01-14,17,2019-01-01,2019-01-18,6,5,11,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
1,18,2018-12-31,6,17793.0,CT2,2018-12-31,2019-01-14,16,2019-01-01,2019-01-17,6,4,10,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
2,19,2018-12-31,6,18516.0,CT2,2018-12-31,2019-01-28,30,2019-01-01,2019-01-31,6,4,10,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
3,20,2018-12-31,6,19016.0,CT2,2018-12-31,2019-01-14,15,2019-01-01,2019-01-16,6,3,9,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
4,21,2018-12-31,6,19129.0,CT2,2018-12-31,2019-01-07,7,2019-01-01,2019-01-08,6,2,8,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
5,22,2018-12-31,6,19387.0,CT2,2018-12-31,2019-01-07,10,2019-01-01,2019-01-11,6,5,11,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
6,66,2018-12-31,6,48172.0,CT2,2018-12-31,2019-01-07,11,2019-01-01,2019-01-12,6,6,12,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
7,67,2018-12-31,6,48173.0,CT2,2018-12-31,2018-12-31,5,2019-01-01,2019-01-06,6,7,13,1.0,1.000000,1.0,47.470000,33.48,81.82,3.000000
8,68,2018-12-31,6,48174.0,CT2,2018-12-31,2019-01-21,24,2019-01-01,2019-01-25,6,5,11,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
9,69,2018-12-31,6,48175.0,CT2,2018-12-31,2019-01-14,17,2019-01-01,2019-01-18,6,5,11,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
10,70,2018-12-31,6,48176.0,CT2,2018-12-31,2019-01-07,11,2019-01-01,2019-01-12,6,6,12,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
11,134,2018-12-31,8,17468.0,CT2,2018-12-31,2019-01-14,18,2019-01-01,2019-01-19,6,6,12,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
12,135,2018-12-31,8,17594.0,CT2,2018-12-31,2019-01-21,20,2019-01-01,2019-01-21,6,1,7,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
13,136,2018-12-31,8,17649.0,CT2,2018-12-31,2019-01-14,13,2019-01-01,2019-01-14,6,1,7,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
14,137,2018-12-31,8,18213.0,CT2,2018-12-31,2019-01-14,15,2019-01-01,2019-01-16,6,3,9,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
15,138,2018-12-31,8,18415.0,CT2,2018-12-31,2019-01-14,16,2019-01-01,2019-01-17,6,4,10,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
16,139,2018-12-31,8,18512.0,CT1,2018-12-31,2019-04-01,91,2019-01-01,2019-04-02,6,2,8,1.0,0.857143,0.0,26.057143,0.00,30.19,2.571429
17,140,2018-12-31,8,18533.0,CT2,2018-12-31,2019-01-14,13,2019-01-01,2019-01-14,6,1,7,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429
18,141,2018-12-31,8,18693.0,CT2,2018-12-31,2018-12-31,5,2019-01-01,2019-01-06,6,7,13,1.0,1.000000,1.0,47.470000,33.48,81.82,3.000000
19,142,2018-12-31,8,18694.0,CT2,2018-12-31,2019-01-07,8,2019-01-01,2019-01-09,6,3,9,1.0,0.857143,0.0,40.688571,0.00,81.82,2.571429